/*CABEZA----------------------------------------------------------------------------------------*/
header{
    background-color: rgb(54, 32, 83);
    height: 220px;
}
.logo{
    margin-left: 10px;
    margin-top: 50px;
    float: left;
}
*{
    margin: 0px;
    padding: 0px;
}
.n_pag{
    color: ivory;
    margin: 0px;
    font-size: 35px;
    padding-top: 50px;
}
.sub_pag{
    color: floralwhite;
    margin: 39px;
    font-size: 20px;
}
/*EL BUSCADOR---------------------------------------------------------------------------------*/
.busca{
    height: 30px;
    width: 800px;
    border-radius: 7px;
    border: 0;
}
.encontrar{
    height: 30px;
    width: 75px;
    font-size: 17px; 
    border-radius: 7px;
    background-color: darkmagenta;
    border: 0;
    color: snow;
}
/*EL NAVEGADOR---------------------------------------------------------------------------------*/
.nav{
    font-size: 25px;
    z-index: 1;
}
#contenedor{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    position: relative;
    left: 390px;
    float: left;
    top: -120px;
    z-index: 2;
}
ul, ol{
    list-style: none;
}
.nav > li{
    float: left;
}
.nav li a{
    background-color: steelblue;
    color: white;
    text-decoration: none;
    padding: 13px 19px;
    display: block;
    height: 50px;
    text-align: center;
}
.nav li a:hover{
    background-color: powderblue;
    color: ivory;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover >ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.ps4{
    right: -382px;
    top: 0px;
}
.ps5{
    right: -434px;
    top: 0px;
}
.xbox{
    right: -180px;
    top: 0px;
}
/*PRIMER ARTICULO-----------------------------------------------------------------------------------------*/
/*NOTA:USAR EL MISMO PATRON DE ARTICULO-------------------------------------------------------------------*/
/*NOTA:SI VAN A USAR FLOAT ORDENEN BIEN Y NO SE OLVIDEN DEL CLEAR BOTH------------------------------------*/
.articulo1{
    background-color: lightsteelblue;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    height: 200%;
    width: 99%;
    border-radius: 4px;
    position: absolute;
}
/*SEGUNDO ARTICULO-----------------------------------------------------------------------------------------*/
.articulo2{
    background-color: lightsteelblue;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 1600px;
    margin-bottom: 10px;
    border: 0;
    height: 160px;
    width: 99%;    
    border-radius: 4px;
    position: relative;
}
#I{
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
    float: left;
}
#II{
    margin-left: 27px;
    border-radius: 4px;
    margin-top: 10px;
    float: left;
}
#III{
    margin-left: 27px;
    border-radius: 4px;
    margin-top: 55px;
    float: left;
}
#IV{
    margin-left: 1180px;
    border-radius: 10px;
    margin-top: 25px;
    float: left;       
}
#V{
    margin-left: 790px;
    border-radius: 10px;
    margin-top: -440px;
    float: left;   
}
#VI{
    margin-left: 420px;
    border-radius: 10px;
    margin-top: -440px;
    float: left;   
}
#VII{
    margin-left: -685px;
    border-radius: 10px;
    margin-top: -440px;
    float: left;  
}
#VIII{
    margin-left: 1180px;
    border-radius: 10px;
    margin-top: 20px;
    float: left; 
}
#IX{
    margin-left: 800px;
    border-radius: 10px;
    margin-top: -450px;
    float: left; 
}
#X{
    margin-left: 420px;
    border-radius: 10px;
    margin-top: -450px;
    float: left; 
}
#XI{
    margin-left: 30px;
    border-radius: 10px;
    margin-top: -450px;
    float: left; 
}
#art{
    text-align: center;
    padding: 25px;
}
.button_style{   
    background-color: Transparent;
    border: none;             /* Your can add different style/properties of button Here*/
    cursor: pointer;    
}
a {
    text-decoration: none;
    color: white;

}
.pies{
    background-color: rgb(12, 12, 46);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 200px;
    position: sticky;
}
.contacto{
    font-size: 30px;
    margin: 20px;
    color: snow;
}
.con_pies{
    font-size: 15px;
    margin: 30px;
    color: snow;
}